.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 16px 0;
  background-color: $color-dark;
  color:white;

}

.header.wrap {
  display: flex;
  margin-left: 82px;
  margin-right: 84px;
  justify-content: flex-end;

}

.header-logo {
  display: inline;
  font-size: 42px;
  margin-right: auto;
  margin-left: 82px;
}




