.promo {
  padding-top: 89px;
  // background-color: #red;
  background-image: url("../images/promo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  // width: 100%;

}

.promo-inner {
  padding: 200px 0;


}




