* {
  box-sizing: border-box;
  color: white;
}

.container {
  margin: 0 auto;
  border: 1 px solid red;

}

.img {
  display: block;
  min-width: 100%;
}

.btn {
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
}


  body {
  font-family: $font;
}
